* {
  box-sizing: border-box;
  font-family: 'Quattrocento Sans', sans-serif;
}

body {
  width: 800px;
  margin: 0 auto 0 auto;
  margin-top: 100px;
}

/* the section with our title, pictures, and other info */
.container {
  height: 720px;
  display: flex;
  flex-flow: column;
  padding: 3% 3% 2.5% 3%;
  background-color: #0D2356;
  box-shadow: 12px 15px 20px 0 gray;
  border-radius: 10px 10px 10px 10px;
}

/* simple styling of the page title */
h1 {
  color: white;
  font-weight: bold;
  font-size: 48pt;
  margin-top: 0;
  margin-bottom: 0;
}

/* the container for the pictures; basically sets behavior of the items inside it */
#the-cat-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* this is the area with the list of cat names */
aside {
  color: white;
  font-weight: bold;
  width: 20.5%;
  border-right: 1px solid white;
  font-size: 18pt;
}

/* the container for each individual picture and it's information */
#the-cat-pic {
  width: 76.5%;
  padding-bottom: 0px;
  margin-top: 3%;
  position: relative; 
  /* the above line allows us to position the name and count relative to the
      limits of this container, rather than of the whole page; useful for the
      overlayed info effects i'm going for here
  */
}

/* defines the styling of the image itself */
img {
  width: 100%;
  border-radius: 10px 10px 10px 10px;
}

/* positions the name on top of the image and defines it's stlying */
#name {
  visibility: hidden;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0px 10px 10px 0px;
  bottom: 14px;
  padding: 6px 10px 6px 18px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 16pt;
}

/* position the count total on top of the image and defines it's styling */
#count {
  visibility: hidden;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px 10px 10px 10px;
  bottom: 14px;
  right: 12px;
  padding: 6px 10px 4px 10px;
  text-align: center;
  color: white;
  font-weight: bold;
}